
  .items{
    display: flex;
  flex-flow: row;
  width:270px;
  height:auto;
  margin: 15px auto; 
  gap:10px;
  justify-content: center;
  align-items: center;
}   


.starters{
    display:flex;
    flex-flow:column;
    gap:3px;
    width:270px;
    height:auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid #333;
    text-align: center;
    flex-wrap: wrap;
}

#myImgi{
    width:160px;
    height:160px;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    /* padding: 2px; */
    padding: 0;
   

  }





.order{
    /* font-size: 38px; */
    margin: 20px auto;
    color:#333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;

}


.order:hover{
    color: #d2ea5f; 
    font-weight: 400;
     text-shadow:greenyellow 1px 1px ;
    background-color: #4d5237;
    animation: fadeInRight 2s ease;
    margin: 20px auto;
}


  
   #myImgi:hover{
    cursor: pointer;
    box-shadow:0 0 8px #d2ea5f;  
    transform: translate(-5px,-10px);
}

@media screen and (max-width: 768px){
    
    .items{
        display: flex;
      width: 100%;
      flex-direction:column;
      gap:10px;
      /* padding: 20px;
      margin:0 auto ; */
      justify-content: center;
  align-items: center;
  

    }
    .starters{
        display:flex;
        flex-flow: column;
        gap:3px;
        width:200px;
        height:auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: 2px solid #333;
        text-align: center;
         /* margin:0 auto; */
    }
    
    #myImgi{
        width:195px;
       height:180px;
      border-radius: 3px;
      object-fit: cover;
      object-position: center;
      }
}


@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}